# Excercise Leetcode problem no. 1; Two sum

https://leetcode.com/problems/two-sum/

IPO model

In [4]:
#input
nums = [2,7,11,15]
target = 9

## Conver a list variable into a dictionary variable

In [12]:
dmap =dict()
for i1, num1 in enumerate(nums):
  dmap[num1]=i1
print(dmap)

{2: 0, 7: 1, 11: 2, 15: 3}

## A single for-loop to check the second number if it is in the list

In [13]:
for i1, num1 in enumerate(nums):
  num2 = target - num1
  if num2 in dmap:
    i2=dmap[num2]
    if i1 == i2:
      continue
    print("{},{}".format(i1, i2) )

0,1
1,0

In [10]:
#process
for i1, num1 in enumerate(nums):
  for i2, num2 in enumerate(nums):
    if num1 + num2 == target:
      print("{}+{}={}".format(num1, num2, num1+num2) )  
      print("{},{}".format(i1, i2) )

2+7=9
0,1
7+2=9
1,0

In [ ]:
help(enumerate)

In [1]:
#output
ans =[0, 1]